html {
    margin: 0%;
}

body {
    margin: 0%;
    border: 1px solid #000;
    overflow-x: hidden;
}

body .options {
    position: absolute;
    font-size: large;
    font-weight: bold;
    margin-top: 20%;
    margin-left: -98%;
}

#container #lavagens {
    width: 24.5%;
    float: left;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6.5%;
    font-weight: bolder;
    border-right: 1px solid #000;
}

#container #lavarapidos {
    width: 24.5%;
    float: left;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6.5%;
    font-weight: bolder;
    border-right: 1px solid #000;
}

#container #historico {
    width: 24.4%;
    float: left;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 6.5%;
    font-weight: bolder;
    border-right: 1px solid #000;
}

#container #configuracoes {
    width: 24.4%;
    float: left;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    font-weight: bolder;
}

#container #map {
    width: 99.5%;
    margin-top: 19.5%;
    padding-bottom: 123.8%;
    position: absolute;
    border-bottom: 1px solid #000;
}

#container #lav_select {
    width: 99.5%;
    position: absolute;
    margin-top: 145%;
    margin-left: 0.3%;
}

#container #lav_select #logo {
    width: 25%;
    margin-top: 6%;
    margin-left: 1%;
    margin-bottom: 2.5%;
}

#container #lav_select #nome {
    font-weight: bold;
    font-size: medium;
    position: absolute;
    margin-top: 8%;
    margin-left: 2.5%;
}

#container #lav_select #avaliacao {
    width: 45%;
    position: absolute;
    margin-top: 14%;
    margin-left: -2.5%;
}

#container #lav_select #ir_bt {
    float: right;
    width: 25%;
    background-color: #000;
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 7.5%;
    padding-right: 2%;
    margin-top: -1%;
    margin-right: 0%;
}